body {
    background: #6699ff;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
    font-family: helvetica, sans-serif;
}

.content {
    position: relative;
    padding-top: 80px;
}

.content p {
    margin-bottom: 10px;
}

#header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #222;
    color: white;
}

#header h1 {
    top: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
}

#nav {
    position: absolute;
    right: 0;
    top: -15px;
    height: 60px;
}

#nav ul li {
    float: left;
    list-style: none;
}

#nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}